.ms-layout {
  display: flex;
  height: 100vh;
  background: #f0f3f4;
}

.ms-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.ms-content {
  position: relative;
  flex: 1;
  box-sizing: border-box;
  padding: 12px;
  overflow: auto;
  scrollbar-gutter: stable;
  padding-right: 3px;
}

.ms-content-wrap {
  display: flex;
  flex: 1;
  overflow: auto;
}
