@ant-prefix: ant;

.column-sort-header {
  margin-bottom: 8px;
}

.column-sort-title {
  height: 32px;
  font-size: 14px;
  line-height: 32px;
}

.column-sort-content {
  height: 50vh;
  padding-bottom: 8px;
  overflow: auto;
  border: 1px solid #e6e8eb;
  border-radius: 2px;
}

.column-sort-content.no-column-fixed {
  padding-top: 8px;
}
