@ant-prefix: ant;

.ms-editor-form-wrapper {
  width: 600px;
  padding: 0;

  .@{ant-prefix}-form-item {
    margin-bottom: 16px;
  }
}

.ms-editor-form-header {
  margin-bottom: 24px;
}

.ms-editor-form-title {
  margin: 0;
  color: #20242e;
  font-weight: 500;
  font-size: 16px;
}

.ms-editor-form-close {
  font-size: 14px;
  cursor: pointer;
}

.ms-editor-form {
  padding-bottom: 8px;
}
