.user-group-read {
  display: flex;
  .checked-item {
    display: flex;
    margin-right: 8px;
  }

  .pre-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background-color: #1890ff;
    border-radius: 50%;
  }
}
