@ant-prefix: ant;

.column-set-modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column-set-model-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.column-set-modal-title {
  font-size: 16px;
}

.column-set-modal-close-icon {
  font-size: 16px;
  cursor: pointer;
}

.column-set-title-container {
  margin-bottom: 8px;
}
