.ms-tags-form {
  margin-bottom: 16px;
}

.ms-tags-form-form-collapsed {
  height: 28px;
  overflow: hidden;
}

.ms-tags-form-item {
  padding: 4px 8px;
  overflow: hidden;
  line-height: 12px;
  text-overflow: ellipsis;
  background: #eceef1;
  border-radius: 2px;
}

.ms-tags-form-item-label {
  margin-right: 8px;
  color: #78858f;
  font-size: 12px;
  line-height: 16px;
}

.ms-tags-form-item-value {
  display: inline-block;
  max-width: 300px;
  margin-right: 6px;
  color: #464f5c;
  font-size: 12px;
  line-height: 16px;
}

.ms-tags-form-item-icon {
  color: #464f5c;
  font-size: 10px;
  cursor: pointer;
}

.ms-tags-form-item-icon.disabled {
  color: #afb2b8;
  cursor: not-allowed;
}

.ms-tags-form-btn {
  height: 24px;
  margin-left: 8px;
  line-height: 24px;
  word-break: keep-all;
  cursor: pointer;
  user-select: none;
}
