.resource-type-dropdown-container {
  min-width: 450px;
  padding: 4px 8px;
}

.resource-type-content {
  // height: 300px;
  margin: 8px 0;
  // overflow: auto;
}

.product-container {
  max-height: 200px;
  overflow: auto;
}

.product-item {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
}

.product-name {
  width: 100%;
  margin: 0;
  margin-left: 8px;
}

.product-item.selected {
  background-color: #e8f6ff;
}

.resource-type-container {
  max-height: 200px;
  overflow: auto;
}

.resource-type-item {
  padding: 6px;
}

.line {
  width: 1px;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.06);
}

.line-h {
  width: 100%;
  height: 1px;
  margin-bottom: 8px;
  background: rgba(0, 0, 0, 0.06);
}
