@current-component-class: ms-rules-config;

.@{current-component-class}-space {
  margin-bottom: 16px;
  .@{current-component-class}-custom-node {
    min-width: 32px;
    max-height: 32px;
    overflow: hidden;
  }
  .@{current-component-class}-hr-btn {
    width: 24px;
    height: 24px;
    color: #000;
  }
  .@{current-component-class}-del-customize {
    margin-right: 16px;
  }
  .@{current-component-class}-del-btn {
    color: #000;
    width: 24px;
    height: 24px;
    border: none;
  }
}
.@{current-component-class}-space:last-of-type {
  margin-bottom: 0;
}
