.ms-devops-layout {
  display: flex;

  .ms-devops-layout-page {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    overflow: auto;
    background-color: #fff;
    .ms-devops-layout-bread-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .ms-devops-layout-main {
      flex: 1;
    }
  }
}
