@ant-prefix: ant;

.@{ant-prefix}-input-group.@{ant-prefix}-input-group-compact.ms-select-query {
  display: flex;
  flex-wrap: nowrap;
}

.ms-select-query-search {
  width: 240px;
}

.ms-select-query-select {
  width: 120px;
  text-align: center;
}
