@ant-prefix: ant;

.ms-collapse {
  scroll-margin-top: 66px;
}

.ms-collapse-title {
  margin-bottom: 0;
}

.ms-collapse .@{ant-prefix}-collapse-header-text {
  font-weight: 700;
}

.ms-collapse .@{ant-prefix}-collapse-header {
  font-size: 14px;
}
.ms-collapse
  .@{ant-prefix}-collapse
  > .@{ant-prefix}-collapse-item
  > .@{ant-prefix}-collapse-header {
  margin-bottom: 24px;
  padding: 0;
}

.ms-collapse
  .@{ant-prefix}-collapse-ghost
  > .@{ant-prefix}-collapse-item
  > .@{ant-prefix}-collapse-content
  > .@{ant-prefix}-collapse-content-box {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.ms-collapse .block-panel .@{ant-prefix}-collapse-expand-icon {
  height: 32px;
  line-height: 32px;
}

.ms-collapse-background {
  margin-bottom: 24px;
  padding: 24px 24px 0 24px;
  background: #f7f8fa;
  border-radius: 2px;
}

.ms-collapse-line {
  margin-bottom: 24px;
  padding: 24px 24px 0 24px;
  border: 1px solid #e6e8eb;
  border-radius: 2px;
}
