@ant-prefix: ant;

.ms-popover-form-wrapper {
  padding-top: 8px;

  .@{ant-prefix}-popover-inner-content {
    padding: 24px;
  }
}

.ms-table-filter-num-badge {
  .@{ant-prefix}-badge-count {
    z-index: 2;
  }
}
